
.advantages {
  display:flex;
         padding:0;
         flex-wrap: wrap;
  ;

  &__title {
    color: $text-color;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16.41px;
    text-align: center;
  }
  
  &__details {
    width: 450px;
    height: 120px;
    background-color:$tritiary-color;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 30px;
  }

  &__content {
    color:$icon-color;
    line-height: 24px;
    font-weight: 400;
    width: 270px;
    text-align: left;
    width:450px;
    margin-bottom:30px;
  }
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__content:not(:last-child){
  margin-bottom:30px;
  }


@media screen and (min-width:768px) {
    .advantages__details{
      width:354px;
      }
    }

    @media screen and (min-width:768px) {
      .advantages__item:not(:last-child){
        margin-right: 0;
        }
      }

@media screen and (min-width:1200px) {
      .advantages__details{
        width:270px;
        }
      }

          @media screen and (min-width:768px) {
            .advantages__title{
              text-align: left;
              }
            }

          
            @media screen and (min-width:768px) {
              .advantages__content{
                width: 354px;
                margin:0;
                }
              }

              @media screen and (min-width:768px) {
                .advantages__content{
                  width: 270px;
                  }
                }


              @media screen and (min-width:768px) {
                .advantages__item:nth-child(1){
                 margin-right: 30px;
                  }
                }

                @media screen and (min-width:768px) {
                  .advantages__item:nth-child(3){
                   margin-right: 30px;
                    }
                  }

                  @media screen and (min-width:768px) {
                    .advantages__item:nth-child(1){
                     margin-bottom: 30px;
                      }
                    }
    
                    @media screen and (min-width:768px) {
                      .advantages__item:nth-child(2){
                       margin-bottom: 30px;
                        }
                      }

                      @media screen and (min-width:1200px) {
                        .advantages__item:nth-child(2){
                         margin-right: 30px;
                          }
                        }

                      @media screen and (min-width:1200px) {
                        .advantages__item{
                         margin-bottom: 30px;
                          }
                        }

                        @media screen and (min-width:1200px){
                          .advantages{
                        display: flex;
                        justify-content: center;
                        }
                       }